In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [6]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [17]:
np.random.seed(0)

In [18]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [19]:
df

             A         B
G1 1  1.764052  0.400157
   2  0.978738  2.240893
   3  1.867558 -0.977278
G2 1  0.950088 -0.151357
   2 -0.103219  0.410599
   3  0.144044  1.454274

In [20]:
 df.loc['G1']

          A         B
1  1.764052  0.400157
2  0.978738  2.240893
3  1.867558 -0.977278

In [21]:
df.loc['G1'].loc[1]

A    1.764052
B    0.400157
Name: 1, dtype: float64

In [22]:
df.index.names

FrozenList([None, None])

In [23]:
df.index.names = ['Groups','Num']

In [24]:
df

                   A         B
Groups Num
G1     1    1.764052  0.400157
       2    0.978738  2.240893
       3    1.867558 -0.977278
G2     1    0.950088 -0.151357
       2   -0.103219  0.410599
       3    0.144044  1.454274

In [25]:
df.loc['G2'].loc[2]['B']

0.41059850193837233

In [26]:
df.loc['G1'].loc[3]['A']

1.8675579901499675

In [27]:
df

                   A         B
Groups Num
G1     1    1.764052  0.400157
       2    0.978738  2.240893
       3    1.867558 -0.977278
G2     1    0.950088 -0.151357
       2   -0.103219  0.410599
       3    0.144044  1.454274

In [28]:
df.loc['G1']

            A         B
Num
1    1.764052  0.400157
2    0.978738  2.240893
3    1.867558 -0.977278

In [29]:
df.xs('G1')

            A         B
Num
1    1.764052  0.400157
2    0.978738  2.240893
3    1.867558 -0.977278

In [30]:
 df.xs(1,level = 'Num')

               A         B
Groups
G1      1.764052  0.400157
G2      0.950088 -0.151357