In [2]:
import pandas_datareader.data as web

In [3]:
import datetime

In [4]:
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2017,1,1)

In [5]:
facebook = web.DataReader('FB','google',start,end)

In [6]:
facebook.head()

              Open    High     Low   Close    Volume
Date
2016-09-19  129.91  129.94  128.26  128.65  14958794
2016-09-20  128.65  129.17  128.03  128.64  11083808
2016-09-21  129.13  130.00  128.39  129.94  14068336
2016-09-22  130.50  130.73  129.56  130.08  15538307
2016-09-23  127.56  128.60  127.30  127.96  28326266

In [7]:
len(facebook)

251

In [10]:
from pandas_datareader.data import Options
fb_options = Options('FB','google')

In [11]:
options_df = fb_Options.get_options_data(expiry=fb_options.expiry_dates[0])

In [12]:
options_df.head()

                                            Last     Bid     Ask  Chg  PctChg  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  167.65  166.40  166.80  0.0     0.0
                  put  FB180119P00005000    0.01     NaN    0.03  0.0     0.0
10.0   2018-01-19 call FB180119C00010000  161.16  161.45  161.80  0.0     0.0
                  put  FB180119P00010000    0.01     NaN    0.01  0.0     0.0
15.0   2018-01-19 call FB180119C00015000  158.00  156.50  156.90  0.0     0.0

                                          Vol  Open_Int Root  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000  NaN    9359.0   FB
                  put  FB180119P00005000  NaN    3053.0   FB
10.0   2018-01-19 call FB180119C00010000  NaN    2859.0   FB
                  put  FB180119P00010000  NaN    2056.0   FB
15.0   2018-01-19 call FB180119C00015000  NaN     235.0   FB

                                          Underlying_Price  \
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000            171.64
                  put  FB180119P00005000            171.64
10.0   2018-01-19 call FB180119C00010000            171.64
                  put  FB180119P00010000            171.64
15.0   2018-01-19 call FB180119C00015000            171.64

                                                         Quote_Time
Strike Expiry     Type Symbol
5.0    2018-01-19 call FB180119C00005000 2017-09-17 13:24:39.721373
                  put  FB180119P00005000 2017-09-17 13:24:39.721373
10.0   2018-01-19 call FB180119C00010000 2017-09-17 13:24:39.721373
                  put  FB180119P00010000 2017-09-17 13:24:39.721373
15.0   2018-01-19 call FB180119C00015000 2017-09-17 13:24:39.721373